@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-xs: 0.75rem;
  --leading-xs: 1rem;
  --text-sm: 0.875rem;
  --leading-sm: 1.25rem;
}

@media (min-width: 768px) {
  :root {
    --text-xs: 15px;
    --leading-xs: 22px;
    --text-sm: 15px;
    --leading-sm: 22px;
  }
}

body {
  font-feature-settings: "pkna";
}

/* スムーズスクロール */
html {
  scroll-behavior: smooth;
}
